ul.text {
	list-style: url(../image/image001.gif);
	border: 0px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 100%; 
	color: #696969;  
	text-align: justify;
	white-space: nowrap;
	display: block;
}


h1.text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	color: #4481EE;
	}
h2.text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #FFD700;
	list-style: url(../image/image001.gif);
}
h3.text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
	color: black;
	margin: 0px 0px 0px 10px;
}
.tnormal {border: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; margin: 0px 0px 0px 10px;  color: #696969;  text-align: justify;  }
.titol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	
}
.titol2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #FFD700;
	text-decoration: underline;
}
.tencap {font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; font-size: 90%; padding-left: 8px; padding-right: 8px; vertical-align: top;border: 0px; margin: 0px;}
.justify {font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; padding-right: 8px; font-size: 99%;}
.justifyleft {font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; padding-left: 8px; font-size: 85%;}

a.normal:link {color: #4278AA;  text-decoration: underline;}
a.normal:active {color: #CC9900;  text-decoration: none;}
a.normal:visited {color: #4278AA;  text-decoration: underline;}
a.normal:hover {color: #CC9900;  text-decoration: none;}

a.menu:link {color: Black;  text-decoration: none;}
a.menu:active {color: #528ABD;  text-decoration: none;}
a.menu:visited {color: Black;  text-decoration: none;}
a.menu:hover {color: #528ABD;  text-decoration: none;}