Source: eviacam
Section: x11
Priority: extra
Maintainer: Cesar Mauri <cesar@crea-si.com>
Build-Depends: debhelper (>= 5), libwxgtk2.6-dev (>= 2.6.3) | libwxgtk2.8-dev, libgtk2.0-dev, libcvaux-dev (>= 1.0), libhighgui-dev (>= 1.0), libpng12-dev, libxtst-dev, libxext-dev
Standards-Version: 3.7.2

Package: eviacam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: wx2.6-i18n | wx2.8-i18n
Description: A cross platform webcam based mouse emulator 
 Enable Viacam (aka eViacam) is a mouse replacement software that moves 
 the pointer as you move your head. It works on a standard computer 
 equipped with a web camera. No additional hardware is required. Based 
 on the award winning Facial Mouse software. 
 Official website: http://viacam.org
