#!/usr/bin/make -f

export DH_VERBOSE=1

override_dh_clean:
	debconf-updatepo
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- --disable-updates-check

override_dh_auto_build:
	cd po; make update-po; cd ..

%:
	dh $@ --with autoreconf
